#!/usr/bin/make -f

#export DH_VERBOSE=1
include /usr/share/dpkg/default.mk

export QT_SELECT=qt4

override_dh_auto_configure:
	qmake -config no_rpath -config debug
override_dh_auto_test:

%:
	dh $@ --buildsystem=qmake --dbg-package=libcommuni-dbg
