#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYTHONDONTWRITEBYTECODE=1

configure:

build: configure
	dh_testdir
	qmake-qt4 -config verbose -config no_rpath
	make

override_dh_auto_configure:
override_dh_auto_test:

install: build
	dh_testroot
	dh_prep
	dh_installdirs
	make install INSTALL_ROOT=$(CURDIR)/debian/tmp/usr

%:
	dh $@
